<?xml version="1.0"?>
<robot>
	<transmission name="tran1">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="base_to_arm_joint">
			<hardwareInterface>EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="motor1">
			<hardwareInterface>EffortJointInterface</hardwareInterface>
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="tran2">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="ft_sensor_joint">
			<hardwareInterface>EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="passive_joint"/>
	</transmission>
</robot>
